{#- stop counter #}
{% set stop = cycler(*range(1,1+arguments|count)|list) %}
snippet {{module}}
{# handles free_form exception #}
{% include 'free_form.j2' %}

{# list required arguments first #}
{% for arg_name, arg_value in arguments.iteritems() if arg_value.required  %}
{% include 'module_argument.j2' %}
{% endfor %}
{# list required arguments second #}
{% for arg_name, arg_value in arguments.iteritems() if not arg_value.required  %}
{% include 'module_argument.j2' %}
{% endfor %}
endsnippet

